section{
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1)  ;
  max-height: 4em;
  overflow: visible;
  .cat{
    cursor: pointer;
    color: #ffffff;
    position: relative;
    font-weight:500;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: #ffffff;
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%; // Expand to full width
      left: 0; // Move to start position
    }
    }
    .cart {
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;
      cursor: pointer;
      padding: 6px 12px;
      span {
        background-color: #6e9a53;
        color: white;
        font-size: 12px;
        font-weight: bold;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -2px;
      }

      i {
        font-size: 1.5rem;
        color: #333;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      i {
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 3px;
        font-size: 1rem;
        color: #ffffff;
        transition:  0.3s ease;



      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        transition:  0.3s ease;

      }
      &:hover {
        i{
        color: #e7b64d;
        border-color: #e7b64d;
        }
        span{
          color: #e7b64d;
        }
      }
    }

    }
.mobilenav-top{
  display:  flex;
  padding: 7px 10px;
  overflow: visible;
  max-height: 9vh;
  position: absolute;
  z-index: 1;
  background: white;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a soft shadow at the bottom */

  .logo{
    max-width: 37vw;
    position: absolute;
    inset-inline-end: 0; // Works for both RTL & LTR
    top: -24px;
.logoar{
    inset-inline-start: 0; // Works for both RTL & LTR

  }
  }

}
.mobilnav-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  min-height: 60px;
  position: fixed;
  z-index: 2;
  bottom: -1px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); // Shadow on top
  .cart {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    cursor: pointer;
    padding: 6px 12px;
    span {
      background-color: #6e9a53;
      color: white;
      font-size: 14px;
      font-weight: bold;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      top: -4px;
      right: 0px;
    }

    i {
      font-size: 1.5rem;
      color: #333;
    }
  }

}
:host ::ng-deep .p-button {
  background-color: #717171 !important; /* Default green */
  border-color: #717171 !important;
  color: white !important;

  &:hover {
    background-color: #5c8646 !important; /* Darker green on hover */
    border-color: #5c8646 !important;
  }
}

