@if(!isMobile) {
<section class="w-full px-4 py-3 flex justify-between items-center" [ngClass]="{'home-nav': isHomePage, 'other-page-nav': !isHomePage}" >
  <!-- Logo -->
  <div class="logo">
    <a href="#">
      <img src="imgs/whitelogo.png" alt="" class="max-w-32" />
    </a>
  </div>
  <!-- categories of product  -->
  <div class="flex gap-4 text-xl">
    <div class="cat" [routerLink]="['/products/skin']">{{ "navbar.SKIN" | translate }}</div>
    <div class="cat" [routerLink]="['/products/hair']">{{ "navbar.HAIR" | translate }}</div>
    <div class="cat" [routerLink]="['/products/body']">{{ "navbar.BODY" | translate }}</div>
    <div class="cat" [routerLink]="['/products/offers']">{{ "navbar.Offers" | translate }}</div>
  </div>
  <!-- account and card and langauage -->
  <div class="flex gap-4 items-center">
    <!-- cart -->
    <div class="flex cart">
      <span>0</span>
      <img class="max-w-[20px] h-[20px]" src="imgs/WhiteCart.svg" alt="" />
    </div>
    <div class="user">
      <i class="pi pi-user"></i>
      <span>{{ "navbar.LOGIN" | translate }}</span>
    </div>
    <div>
      <!-- <p-select [options]="Lang" [(ngModel)]="selectedLang"  optionLabel="name"    (onChange)="onLanguageChange($event)"    >
      <ng-template #selectedItem let-selectedOption>
        <div class="flex items-center gap-2" *ngIf="selectedOption">
            <img
            [src]="'https://flagcdn.com/w40/' + selectedOption.code.toLowerCase() + '.png'"
            width="20"
            height="15"
            />
        </div>
        <ng-template let-lang #item>
          <div class="flex items-center gap-2">
              <img
              [src]="'https://flagcdn.com/w40/' + lang.code.toLowerCase() + '.png'"
              width="20"
        height="15"
              />
              <div>{{ lang.name }}</div>
          </div>
      </ng-template>

    </ng-template>
    </p-select> -->
    </div>
  </div>
</section>

}@else {
<div class="mobilenav-top">
  <!-- drawer -->
  <div class="flex justify-center">
    <p-drawer #drawerRef [(visible)]="visible" [position]="isArabic?'right':'left'">
      <ng-template #headless>
        <div class="flex flex-col h-full">
          <!-- header -->
          <div class="flex items-center justify-between px-6 pt-4 shrink-0">
            <span class="inline-flex items-center gap-2">
              <span class="font-semibold text-2xl text-primary">{{
                "navbar.Menu" | translate
              }}</span>
            </span>
            <span>
              <p-button
                type="button"
                (click)="closeCallback($event)"
                icon="pi pi-times"
                rounded="true"
                outlined="true"
                styleClass="h-8 w-8"
              ></p-button>
            </span>
          </div>
          <div class="overflow-y-auto">
            <ul class="list-none p-4 m-0">
              <li>
                <a
                  class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                  [routerLink]="['/products/skin']"                (click)="closeCallback($event)"
                  >
                  <span class="font-medium">{{
                    "navbar.SKIN" | translate
                  }}</span>
                </a>
              </li>

              <li>
                <a
                  class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                  [routerLink]="['/products/hair']"(click)="closeCallback($event)" >
                  <span class="font-medium">{{
                    "navbar.HAIR" | translate
                  }}</span>
                </a>
              </li>
              <li>
                <a
                  class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                  [routerLink]="['/products/body']"(click)="closeCallback($event)" >
                  <span class="font-medium">{{
                    "navbar.BODY" | translate
                  }}</span>
                </a>
              </li>
              <li>
                <a
                  class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                  [routerLink]="['/products/offers']"(click)="closeCallback($event)">
                  <span class="font-medium">{{
                    "navbar.Offers" | translate
                  }}</span>
                  <p-tag
                    severity="danger"
                    [value]="'navbar.sale' | translate"
                    class="mb-5"
                  />
                </a>
              </li>
              <li>
                <a
                  pRipple
                  pStyleClass="@next"
                  enterFromClass="hidden"
                  enterActiveClass="animate-slidedown"
                  leaveToClass="hidden"
                  leaveActiveClass="animate-slideup"
                  class="flex gap-2 items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <span class="font-medium">{{
                    "navbar.ChooseLang" | translate
                  }}</span>
                  <i class="pi pi-chevron-down ml-auto"></i>
                </a>
                <ul
                  class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                >
                  <li>
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                      (click)="onLanguageChange('en')"
                      (click)="closeCallback($event)"
                    >
                      <span class="font-medium">{{
                        "navbar.En" | translate
                      }}</span>
                    </a>
                  </li>
                  <li>
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                      (click)="onLanguageChange('ar')"
                      (click)="closeCallback($event)"
                    >
                      <span class="font-medium">{{
                        "navbar.Ar" | translate
                      }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="list-none p-4 m-0">
              <li>
                <ul class="list-none p-0 m-0 overflow-hidden">
                  <li>
                    <a
                      class="flex gap-2 items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                      (click)="closeCallback($event)">
                      <i class="pi pi-home ms-2"></i>
                      <span class="font-medium">{{'navbar.Dashboard'|translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex gap-2 items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                      (click)="closeCallback($event)">
                      <i class="pi pi-cog ms-2"></i>
                      <span class="font-medium">{{'navbar.Settings'|translate}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="mt-auto">
            <hr class="mb-4 mx-4 border-t border border-surface" />
            <a
              class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
            >
              <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle"
              />
              <span class="font-bold">Amy Elsner</span>
            </a>
          </div>
        </div>
      </ng-template>
    </p-drawer>
    <p-button class="custom-btn" (click)="visible = true" icon="pi pi-bars" />
  </div>
  <!-- logo -->
  <div class="logo" [class.logoar]="isArabic">
    <img src="imgs/colorlogo.png" alt="" />
  </div>
</div>
<!-- bootm nav bar -->
<div class="mobilnav-bottom">
  <!-- cart -->
  <div class="cart">
    <span>0</span>
    <img class="max-w-[25px] h-[25px]" src="imgs/BlackCart.svg" alt="" />
  </div>
  <!-- home -->
  <div class="flex flex-col items-center text-[#6e9a53] cursor-pointer"[routerLink]="['/']">
    <i class="pi pi-home" style="font-size: 1.2rem"></i>
    <div class="text-md font-bold " >Home</div>
  </div>
    <!-- Menu -->
  <div class="flex flex-col items-center text-[#6e9a53] cursor-pointer"(click)="visible = true">
    <i class="pi pi-align-justify" style="font-size: 1.2rem"></i>
    <div class="text-md font-bold " >Menu</div>
  </div>

</div>
}
